name: CI

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  dogfood:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install Rust toolchains
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly,1.74.0,stable
          components: clippy,rustfmt

      - name: Install cargo-rbmt from current commit
        run: cargo install --locked --path cargo-rbmt

      - name: Run lint on workspace
        run: cargo +nightly rbmt --lock-file existing lint

      - name: Build documentation (stable)
        run: cargo rbmt --lock-file existing docs

      - name: Build documentation (docs.rs / nightly)
        run: cargo +nightly rbmt --lock-file existing docsrs

      - name: Run tests with stable (existing lock)
        run: cargo rbmt --lock-file existing test stable

      - name: Run tests with nightly (existing lock)
        run: cargo +nightly rbmt --lock-file existing test nightly

      - name: Run tests with MSRV (existing lock)
        run: cargo +1.74.0 rbmt --lock-file existing test msrv

      - name: Run tests with stable (recent dependencies)
        run: cargo rbmt --lock-file recent test stable

      - name: Run tests with stable (minimal dependencies)
        run: cargo rbmt --lock-file minimal test stable
